@use './variables.scss' as v;

.screen {
    text-overflow: ellipsis;

    margin-block-start: 24px;

    box-sizing: border-box;
    padding: 29px 24px 22px 24px;

    border-radius: 10px;

    text-align: right;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.667px;
}

@media only screen and (min-width: v.$tablet) {
    .screen {
        font-size: 56px;
        line-height: normal;
        letter-spacing: -0.933px;
    }
}