@use './variables.scss' as v;

.theme-changer {
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    column-gap: 26px;
    row-gap: 5px;

    > div + div {
        display: flex;
        justify-content: space-between;

        padding: 0 6px;
    }

    h3 {
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1px;

        margin: auto;
    }

    button {
        position: relative;

        border-radius: 13px;

        width: 71px;
        height: 26px;

        border: none;
        outline: none;

        padding: 5px;
        box-sizing: border-box;

        div {
            position: relative;

            width: 16px;
            height: 16px;

            border-radius: 50%;
        }
    }
}

.t1 .theme-changer {
    button {
        background-color: v.$background-keypad-toggle-t1;

        > div {
            background-color: v.$equals-key-toggle-t1;

            left: 0%;
        }
    }

    button:hover {
        background-color: v.$background-screen-t1;

        > div {
            background-color: v.$equals-key-toggle-shadow-t1;
        }
    }
}

.t2 .theme-changer {
    button {
        background-color: v.$background-keypad-toggle-t2;

        > div {
            background-color: v.$equals-key-toggle-t2;

            left: calc(50% - 8px);
        }
    }

    button:hover {

        > div {
            background-color: v.$equals-key-toggle-shadow-t2;
        }
    }
}

.t3 .theme-changer {
    button {
        background-color: v.$background-keypad-toggle-t3;

        > div {
            background-color: v.$equals-key-toggle-t3;

            left: calc(100% - 16px);
        }
    }

    button:hover {
        background-color: v.$background-screen-t3;

        > div {
            background-color: v.$equals-key-toggle-shadow-t3;
        }
    }
}