// Breakpoints
$extra-small: 350px;
$tablet: 768px;
$desktop: 1080px;
$desktop-large: 1920px;

// Z-indexes
$button-index: 10;
$button-shadow-index: 2;

// Theme 1

// Backgrounds
$background-main-t1: hsl(222, 26%, 31%);
$background-keypad-toggle-t1: hsl(223, 31%, 20%);
$background-screen-t1: hsl(224, 36%, 15%);

// Keys

$key-t1: hsl(30, 25%, 89%);
$key-shadow-t1: hsl(28, 16%, 65%);

$equals-key-toggle-t1: hsl(6, 63%, 50%);
$equals-key-toggle-shadow-t1: hsl(6, 70%, 34%);

$util-key-t1: hsl(225, 21%, 49%);
$util-key-shadow-t1: hsl(224, 28%, 35%);

// Text

$text-light-t1: hsl(0, 0%, 100%);
$text-dark-t1: hsl(221, 14%, 31%);

// Theme 2

// Backgrounds

$background-main-t2: hsl(0, 0%, 90%);
$background-keypad-toggle-t2: hsl(0, 5%, 81%);
$background-screen-t2: hsl(0, 0%, 93%);

// Keys

$key-t2: hsl(45, 7%, 89%);
$key-shadow-t2: hsl(35, 11%, 61%);

$equals-key-toggle-t2: hsl(25, 98%, 40%);
$equals-key-toggle-shadow-t2: hsl(25, 99%, 27%);

$util-key-t2: hsl(185, 42%, 37%);
$util-key-shadow-t2: hsl(185, 58%, 25%);

// Text

$text-light-t2: hsl(0, 0%, 100%);
$text-dark-t2: hsl(60, 10%, 19%);

// Theme 3

// Backgrounds

$background-main-t3: hsl(268, 75%, 9%);
$background-keypad-toggle-t3: hsl(268, 70%, 12%);
$background-screen-t3: hsl(268, 71%, 12%);

// Keys

$key-t3: hsl(268, 47%, 21%);
$key-shadow-t3: hsl(290, 70%, 36%);

$equals-key-toggle-t3: hsl(176, 100%, 44%);
$equals-key-toggle-shadow-t3: hsl(177, 92%, 70%);

$util-key-t3: hsl(281, 89%, 26%);
$util-key-shadow-t3: hsl(285, 91%, 52%);

// Text

$text-light-t3: hsl(0, 0%, 100%);
$text-dark-t3: hsl(52, 100%, 62%);
$text-darker-t3: hsl(198, 20%, 13%);